{% extends 'layout.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}">
{% endblock %}


{% block content %}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">添加员工</h3>
        </div>
        <div class="panel-body">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="text">姓名</label>
                    <input type="text" id="text" class="form-control" placeholder="姓名" name="name" />
                </div>
                <div class="form-group">
                    <label for="text">密码</label>
                    <input type="text" id="password" class="form-control" placeholder="密码" name="password" />
                </div>
                <div class="form-group">
                    <label for="text">年龄</label>
                    <input type="text" id="age" class="form-control" placeholder="年龄" name="age" />
                </div>
                <div class="form-group">
                    <label for="text">余额</label>
                    <input type="text" id="account" class="form-control" placeholder="余额" name="account" />
                </div>
                <div class="form-group">
                    <label for="text">入职时间</label>
                    <input type="text" id="dt" class="form-control" placeholder="入职时间" name="create_time" />
                </div>
                <div class="form-group">
                    <label for="text">性别</label>
                    <select class="form-control" name="gender" id="">
                        {% for item in gender_choices %}
                        <option value="{{item.0}}">{{item.1}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="text">所属部门</label>
                    <select class="form-control" name="depart" id="">
                        {% for item in depart_list %}
                        <option value="{{item.id}}">{{item.title}}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">提 交</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}


{% block js %}
<script src="{% static 'plugins\bootstrap-datepicker\js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'plugins\bootstrap-datepicker\js\locales\bootstrap-datepicker.zh-CN.js' %}"></script>
<script>
    $(function(){
        $('#dt').datepicker({
            format: 'yyyy-mm-dd',
            startDate: '0',
            language: "zh-CN",
            autoclose: true
        });
    })
</script>
{% endblock %}